<a href="https://colab.research.google.com/github/pranath/predict_charity_donors/blob/master/finding_donors3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting Donors for a Charity - Part 3 - Deep learning

## Introduction

In an earlier __[project](https://github.com/pranath/predict_charity_donors/blob/master/finding_donors.ipynb)__ I developed a machine learning model to predict from a dataset of census data those who earn over $50K. That project used conventional models, in particular a Gradient Boosting Classifier.

In a later [project](https://github.com/pranath/predict_charity_donors/blob/master/finding_donors2.ipynb) I used the fastai deep learning library for the prediction problem.

In this project I will use the latest version of the fastai library version 2 - and we will compare results.

##Â Load libraries

In [1]:
!pip install fastai --upgrade -q # Upgrade to fastai v2
import fastai
from fastai.tabular.all import *
import pandas as pd

fastai.__version__

'2.2.7'

## Load data

In [5]:
path = untar_data(URLs.ADULT_SAMPLE)
path.ls()

(#3) [Path('/root/.fastai/data/adult_sample/export.pkl'),Path('/root/.fastai/data/adult_sample/models'),Path('/root/.fastai/data/adult_sample/adult.csv')]

In [10]:
df = pd.read_csv(path/'adult.csv')
df.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country salary
0   49            Private  101320  ...             40   United-States  >=50k
1   44            Private  236746  ...             45   United-States  >=50k
2   38            Private   96185  ...             32   United-States   <50k
3   38       Self-emp-inc  112847  ...             40   United-States  >=50k
4   42   Self-emp-not-inc   82297  ...             50   United-States   <50k

[5 rows x 15 columns]

We have a mixture of numeric and categorical columns.

In [11]:
# Create dataloader using factory method
dls = TabularDataLoaders.from_csv(path/'adult.csv', path=path, y_names="salary",
    cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race'],
    cont_names = ['age', 'fnlwgt', 'education-num'],
    procs = [Categorify, FillMissing, Normalize])

In [13]:
# Create dataloader using tabular pandas class
splits = RandomSplitter(valid_pct=0.2)(range_of(df))
to = TabularPandas(df, procs=[Categorify, FillMissing,Normalize],
                   cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race'],
                   cont_names = ['age', 'fnlwgt', 'education-num'],
                   y_names='salary',
                   splits=splits)
# Preview data pre-processed by tabular pandas
to.xs.iloc[:2]

       workclass  education  marital-status  ...      age    fnlwgt  education-num
8681           5         16               5  ... -1.14295  2.450554      -0.033488
13173          1         16               5  ... -1.50928  0.718655      -0.033488

[2 rows x 10 columns]

In [15]:
# Create dataloader from tabular pandas object
dls = to.dataloaders(bs=64)
# Show some
dls.show_batch()

In [21]:
# Create deep learning model
learn = tabular_learner(dls, metrics=accuracy)
# Fit the model (fine tune is pointless as we dont use a pre-trained model)
learn.fit_one_cycle(6)

In [17]:
# Show some predictions
row, clas, probs = learn.predict(df.iloc[0])
row.show()

In [18]:
clas, probs

(tensor(1), tensor([0.4300, 0.5700]))

## Results

In our earlier study with the Gradient Boosting Model, we achieved an best accuracy of 0.86. With this model with just one epoch of training we acheive an accuracy of 0.83, so a comparable level of accuracy.