# Predicting Donors for a Charity - Part 2 - Deep learning

## Introduction

In an earlier __[project](https://github.com/pranath/predict_charity_donors/blob/master/finding_donors.ipynb)__ I developed a machine learning model to predict from a dataset of census data those who earn over $50K. That project used conventional models, in particular a Gradient Boosting Classifier.

In this project I will use a deep learning model to predict the same target variable, but using a deep learning model - and we will compare results.

##Â Load libraries

In [1]:
import pandas as pd
from fastai.tabular import *

## Load data

In [11]:
df = pd.read_csv('census.csv')
df.head()

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [12]:
# Define target variable
dep_var = 'income'
# Define categorical columns
cat_names = ['workclass', 'education_level', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']
# Define numeric columns
cont_names = ['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']
# Define data transforms
procs = [FillMissing, Categorify, Normalize]

In [13]:
# Create test dataset
test = TabularList.from_df(df.iloc[800:1000].copy(), cat_names=cat_names, cont_names=cont_names)

In [14]:
# Create dataset object
data = (TabularList.from_df(df, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [15]:
# View dataset object (with transforms applied)
data.show_batch(rows=10)

In [18]:
# Create deep learning model
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [19]:
# Fit the model
learn.fit(6, 1e-2)

## Results

In our earlier study with the Gradient Boosting Model, we achieved an best accuracy of 0.86. With this model with just a few epochs of training we acheive an accuracy of between 0.83 - 0.89, so a comparable level of accuracy.

## Inference

Test our model

In [20]:
row = df.iloc[175]

In [21]:
learn.predict(row)

(Category >50K, tensor(1), tensor([0.3134, 0.6866]))